#container{
    color: aliceblue;
    height: 100%
    
}
.heading1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: darkgray;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    line-height: 1.5;
}
.form{
    height: 350px;
    width: 450px;
    background-color: aqua;
    border: 1px solid;
    margin: 20px 450px 20px 0px;
}